header {width: 225px;
    height: 40px;
    margin: 30px;
    font-size: 28px;
    background-color: #ec4d4d;
    color: white;
    text-align: center;
    padding: 20px 0;
    }


h1 {float: right;
    margin-right: 50px;
    font-size: 20px;
    width: 20px;}

h2 {float: right;}

h3 {float: right;}

#main-background {  width: 100%;
                    height: 750px;
                    background-color: #a8a6a6;
                    position: 0;
                }

#profile-image {width: 500px;
                height: 500px;
                padding: 20px;
                position: 1;
                }