header {width: 225px;
    height: 40px;
    margin: 30px;
    font-size: 28px;
    background-color: #ec4d4d;
    color: white;
    text-align: center;
    padding: 20px 0;
    }


h1 {float: right;}



#main-background {  width: 100%;
                    height: 750px;
                    background-color: #a8a6a6;
                    

}